=semantic_form_for(@forum) do |form|
  =form.inputs do
    =form.input :name
    =form.input :description, as: :redactor
    =form.input :image, as: :image
  =form.actions do
    =form.action :submit, label: 'Save'
