.container
.section-pattern.pv-6
  .container
    .row
      .col-md-8.col-lg-6.col-md-offset-2.col-lg-offset-3.center
        %h1 Community
        %p The forums area gives young people the opportunity to talk about their journeys with other people with similar interests. Join in the community and get your idea started!
        %p.pb-3 To get started click on a skill or something that interests you below:
        %ul.lg-tags.list-unstyled
          %li.active=link_to('All', forums_path)
          -Forum.all.each do |forum|
            %li=link_to_self forum

.section-dark.pv-4
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3.pb-4.m0.center.white Say hello to new members of the community
        =render 'users/new_members', users: User.recent

.section-white.pv-4
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3 Activity feed
    .row
      .col-md-8.col-md-offset-2.pb-3
        =render 'hardcode/img_post.html'
    .row
      -2.times do
        .col-md-8.col-md-offset-2.pb-3
          =render 'hardcode/post.html'
    .row
      .col-md-8.col-md-offset-2
        .row
          -2.times do
            .col-md-6.col-sm-12.col-xs-12.mb-3
              =render Project.community_homepage
    .row
      -2.times do
        .col-md-8.col-md-offset-2.pb-3
          =render 'hardcode/post.html'

