.container
.section-pattern.pv-6
  .container
    .row
      .col-md-8.col-lg-6.col-md-offset-2.col-lg-offset-3.center
        .usr-action-top
          =follow_link
          -if can?(:edit, @forum)
            =link_to('', '',  :class => 'btn btn-lg btn-gry visible dropdown', :icon => 'cog', 'data-toggle' => 'dropdown')
            %ul.dropdown-menu.settings
              %li=link_if_can('Edit', [:edit, @forum], :icon => 'pencil')
              %li=link_if_can('Delete', [:destroy, @forum], method: :delete, confirm: 'Are you sure?', icon: 'trash-o')
          =link_to('Follow', '#',  :class => 'btn btn-lg btn-primary btn-follow mr-3')
        %h1=@forum.name
        %p.pb-3=raw(@forum.description)

-if @forum.followers.recent.present?
  .section-dark.pv-4
    .container
      .row
        .col-md-8.col-md-offset-2
          %h3.pb-3.m0
            Say hello to new members of the
            =@forum.name.downcase
            community
          -3.times do
            =render 'users/new_members', users: @forum.followers.recent


.section-white
  .container
    .row
      .col-md-8.col-md-offset-2.pv-4
        .row
          .col-md-12
            %h3.mt-0
              Write something about
              =@forum.name
        .row
          .col-md-12.main-input
            =render 'posts/remote_form', post: @forum.posts.build

.section-light.pv-4
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3 Activity feed
    .row
      .col-md-8.col-md-offset-2.pb-3
        =render 'posts/posts', posts: @posts
    
    -if @forum.project_category.try(:projects).present?
      .row
        .col-md-6.col-sm-12.col-xs-12.mb-3
          =render @forum.project_category.projects.recent(2)
  

  

