!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
  %body
    %p
      Someone has signed up!
    %p
      %h2=@user.full_name
      %hr
      =@user.email
      %hr
    %p
      Thanks
      %br
      =Settings.site_name
      Team



