/* =======================================================================

                                  Buttons

   ======================================================================= */





/* =======================================================================
  Buttons
======================================================================= */

a {
  -webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}
.btn i:not(.fa-cog) {
  padding-left: 5px;
}
.btn-primary {
  background: $brand-primary;
  color: #fff;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  position: relative;
  font-size: 16px;
  border: none;
  padding: 18px 28px;
  border-radius: 30px;
  &:hover{
    color: white;
    background: #1a1f52;
  }
}
.btn-secondary {
  background: transparent;
  border: 1px solid $brand-primary;
  color: $brand-primary;
  padding: 18px 28px;
  border-radius: 30px;
  font-size: 16px;
  &:hover{
    background: $brand-primary;
    border: 1px solid $brand-primary;
    color: white;
  }
}
.btn-confirm {
  border: 1px solid #27A537;
  background: #27A537;
  color: white;
  &:hover {
    border: 1px solid #27A537;
    background: transparent;
    color: #27A537;
  }  
}
.btn-block-form {
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #27A537;
  background: #27A537;
  color: white;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  padding: 20px;
  font-size: 18px;
  &:hover {
    border: 1px solid #27A537;
    background: lighten(#27A537, 2%);
    color: white;
  }
}
.btn-block-form-half {
  @extend .btn-block-form;
  width: 50%;
}
.btn-lg {
  font-size: 18px;
  border-radius: 32px;
  padding: 16px 20px;
}
.btn-sm {
  font-size: 16px;
  border-radius: 32px;
  padding: 10px 20px;
}
.btn.visible:hover i.fa-cog{
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(180deg);
}
.btn-clear{
  @include media-query (sm-max){
    position: static;
  }
}
.half-button {
  width: 48%;
  &:nth-child(even) {
    float: right;
    @include media-query (sm-max){
      float: none;
    }
  }
  @include media-query (sm-max){
    width: 100%;
  }
}
a.twitter {
  color: #55acee;
  &:hover {
    color: lighten(#55acee, 10%);
  }
}
a.facebook {
  color: #3b5998;
  &:hover {
    color: lighten(#3b5998, 10%);
  }
}
a.pinterest {
  color: #cc2127;
  &:hover {
    color: lighten(#cc2127, 10%);
  }
}




/* =======================================================================
  Tags
======================================================================= */

.lg-tags li{
    display: inline-block;
    line-height: 52px;
  a{
    font-size: 16px;
    border: 1px solid $brand-primary;
    color: $brand-primary;
    border-radius: 22px;
    padding: 9px 14px;
    &:hover {
      background: $brand-primary;
      color: white;
    }
  }
}
.tags {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    margin: 0px 5px 5px 0px;
    a {
      background: $brand-primary;
      font-family: "jaf-domus-titling-web";
      font-size: 12px;
      border: 1px solid $brand-primary;
      font-weight: 600;
      color: white;
      padding: 1px 10px 4px;
      border-radius: 14px;
      display: block;
      &.add {
        border: 1px solid #27A537;
        background: transparent;
        color: #27A537;
        &:hover {
          border: 1px solid #27A537;
          background: #27A537;
          color: white;
        } 
      }
      &.delete {
        &:hover {
          border: 1px solid #AD0C21;
          background: transparent;
          color: #AD0C21;
        }
      }
      &:hover {
        background: transparent;
        color: $brand-primary;
      }
    } 
  }
}

a.tags {
  background: $brand-primary;
  font-family: "jaf-domus-titling-web";
  font-size: 12px;
  border: 1px solid $brand-primary;
  font-weight: 600;
  color: white;
  padding: 1px 10px 4px;
  border-radius: 14px;
  display: block;
  &:hover {
    background: transparent;
    color: $brand-primary;
  }
}




/* =======================================================================
  Tags
======================================================================= */

.badge {
  padding: 1px 8px 4px;
  font-size: 10px;
  font-weight: normal;
  background-color: #88CCFF;
  font-family: "jaf-domus-titling-web";
  margin-top: 3px;
}
