/* =======================================================================

                              Project cards

   ======================================================================= */





/* =======================================================================
  Site wide cards
======================================================================= */

.card {
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0px 0 1px 0px #ccc;
  .card-img {
    position:relative;
    max-height: 210px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .card-info {
    padding: 20px;
    box-shadow: inset 5px 0 1px -5px #ccc,
                inset -5px 0 1px -5px #ccc;
  }
  h3 {
    margin: 0;
    padding-bottom: 5px;
  }
}
.likes {
  display: block;
  color: #f93789;
  &:hover {
    color: #f93789;
  }
}
.card-footer a {
  padding: 9px;
  font-size: 14px;
  margin: 0;
  text-align: center;
  background: #DBEFFB;
  &:first-of-type {
    background: darken(#DBEFFB, 3%)
  }
}
.card-header {
  padding: 9px;
  font-size: 14px;
  margin: 0;
  background: #DBEFFB;
  position: relative;
  .usr-link{
    position: absolute;
    top: 10px;
    right: 14px;
    span{
      text-indent:-9999px;
      display: block;
    }
  }
}
.usr-link{
  display: none;
}
.card-add{
  .card-wrap{
    border:2px dashed $g-2;
    background: $g-1;
  }
  .add-project{
    margin:46% auto;
    display: block;
    width:300px;
    text-align: center;
    color:$g-2;
    .fa{
      font-size: 7em;
    }
    .text{
      font-weight:bold;
      font-size: 1.6em;
    }
  }
}
.comment {
  border: 1px solid #ccc;
  border-top: none; 
}