/* =======================================================================

                                  Footer

   ======================================================================= */





/* =======================================================================
  Sticky footer by Ryan Fait ryanfait.com/sticky-footer/
======================================================================= */

$footer-height: 80px; /* Set size of sticky footer in the variable: */

.main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$footer-height); /* the bottom margin is the negative value of the footer's height */
}
.push {
  clear: both;
  height: $footer-height;
}
.footer-wrapper {
	clear: both;
	min-height: $footer-height; /* Set height and min height for responsive stacking / IE fix */
	padding-bottom: 0px;
	background: #1c2021;
	padding: 15px 0px 0px;
}
.footer {
  padding: 50px 0px;
  ul li a {
    color: $g-3;
  }
}
