.form-tabs {
  margin: 0;
  padding: 0;
  li {
    display: block;
    float: left;
    width: 50%;
    background: $g-2;
    font-size: 20px;
    text-align: center;
    &.active {
      background: $g-5;
    }
    &:first-of-type {
      border-radius: 4px 0px 0px 0px;
      border-right: 1px solid #ADADAD;
    }
    &:last-of-type {
      border-radius: 0px 4px 0px 0px;
    }
    a {
      display: block;
      padding: 20px 5px;
    }
  }
}
.form-container {
  background: $g-5;
  border-radius: 0px 0px 4px 4px;
}
.form-input, .form-control {
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  &:focus {
    outline: none;
    border: 1px solid $g-2;
  }
}
::-webkit-input-placeholder {
   color: #A9A9A9;
   font-weight: 300;
}
:-moz-placeholder {
   color: #A9A9A9;
   font-weight: 300;
}
::-moz-placeholder {
   color: #A9A9A9;
   font-weight: 300;
}
:-ms-input-placeholder {
   color: #A9A9A9;
   font-weight: 300;
}
.form-input-btn {
  display: block;
  text-align: center;
  padding: 20px 10px;
  background: $g-2;
  border: 2px solid #cfcfcf;
  border-radius: 0px 0px 4px 4px;
  font-size: 20px;
}
.progress {
  height: 10px;
  margin-bottom: 30px;
  background-color: #D8D8D8;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar {
  background-color: #BBBBBB;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.form-text{
  border:1px solid $g-1;
  padding:10px;
  font-size: 1.3em;
  border-radius: 3px;
}
.form-textarea{
  @extend .form-text;
  font-size: 0.9em;
}

/*   Main input  */

.main-input input.form-control.event{
  width: 85%;
  float: left;
}
.main-input .form-group{
  background: #fff;
}

/* Image inputs */
.formtastic .form-group div.image-inputs {
  input {
    font-size: 1em;
  }
  label.remove-image {
    input {
      width: auto;
      height: auto;
      float: none;
      margin-left: 0;
    }
  }
}

// help modal
#help-modal {
  .alert {
    display: none;
  }
  .form-actions {
    margin-bottom: 10px;
  }
}
