.forum-head h1{
  font-size: 2.8em;
  font-weight: bold;
}
.featured-projects{
  padding:0 30px 30px 30px;
} 
.new-members {
  .avatar{
    border-radius: 50%;
    height: 50px;
    border:1px solid $g-5;
    margin-right: 0px;
    @include media-query (sm-max){
      height: auto;
      margin-right: 10px;
    }
  }
  p, a{
    font-size: 0.8em;
    margin:0;
  }
}