/* =======================================================================

                        General site wide CSS styles

   ======================================================================= */





/* =======================================================================
  Site wide styles
======================================================================= */

html, body, p {
  height: 100%;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #4f5357;
  -webkit-font-smoothing: antialiased;
}
h2.heading {
  font-size: 24px;
  padding:0 15px;
}
h3 {
  font-size: 20px;
}
a {
  color: $brand-primary;
  outline: none !important;
  &:hover{
    text-decoration:none;
  }
}
img {
  max-width: 100%;
}
.arrow-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 10px solid #EDF7FD;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: 0;
	z-index: 1;
}
.negative-top {
  margin-top: -35px;
}
hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 1px solid #BEBEBE;
}
.section-dark,
.section-light,
.section-white {
  position: relative;
  z-index: 15;
  background: $brand-primary;
}
.section-light {
  background: #EFF6FC;
  border-top: 1px solid #C8E7F9;
}
.section-white {
  background: white;
}
.section-pattern {
  background: url('/assets/triangle-tile.jpg') repeat;
}
.strip-fixed {
  padding: 60px 0px;
  position: relative;
  height: 420px;
  .container {
    position: fixed;
    width: 100%;
    @include media-query (sm-max){
      position: static;
    }
  }
}
.strip-small,
.strip-search {
  height: 200px;
}
.strip-home {
  height: 280px;
}
.new-member {
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}
.sub-text {
  font-size: 14px;
  color: #bababa;
  a {
    color: #bababa;
  }
}
.top-right {
  position: absolute;
  top: 0;
  right: 0;
  .btn {
    margin-left: 10px;
    @include media-query (sm-max){
      margin-left: 0px;
    }
  }
  .dropdown-menu {
    right: 0;
    left: auto;
    z-index: 998;
    min-width: 100px;
    padding: 0px;
    margin: 10px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: white;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    li > a {
      display: block;
      padding: 10px 10px;
      clear: both;
      font-weight: normal;
      line-height: 1.428571429;
      color: #24216D;
      white-space: normal;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-weight: 600;
    }
    .arrow {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 5px solid #24216d;
      position: absolute;
      right: 16px;
      top: -5px;
      z-index: 1;
    }
  }
}

#action-quote {
  padding: 60px 0px;
  background: url('/assets/triangle-tile.jpg') repeat;
  @include media-query (sm-max){
    padding-bottom: 80px;
  }
  blockquote {
    background: white;
    border: 1px solid $brand-primary;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    .quote-mark {
      position: absolute;
      top: 10px;
      left: -30px;
      background: transparent;
      font-size: 160px;
      color: $brand-primary;
    }
    &:after, &:before {
    	top: 100%;
    	left: 15%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }
    &:after {
    	border-color: rgba(255, 255, 255, 0);
    	border-top-color: #ffffff;
    	border-width: 25px;
    	margin-left: -30px;
    }
    &:before {
    	border-color: rgba(36, 33, 109, 0);
    	border-top-color: #24216D;
    	border-width: 26px;
    	margin-left: -31px;
    }
  }
}
.border-top {
  border-top: 1px solid #C3D7D9;
}
.add-image {
  display: block;
  position: absolute;
  top: 0;
  right: 16px;
  width: 40px;
  height: 40px;
  background: #27A537;
  text-align: center;
  padding-top: 10px;
  color: white;
  border-radius: 0px 0px 0px 4px;
  &:hover {
    color: white;
  }
}
