/* =======================================================================

                                  Home

   ======================================================================= */





/* =======================================================================
  Home signed out
======================================================================= */

.homepage-title {
  font-family: "jaf-domus-titling-web";
  font-size: 75px;
  font-weight: 600;
  color: white;
  margin-bottom: 30px;
  text-shadow: 7px 7px 0px #0090d5;
}
.home-cloud {
  position: absolute;
  z-index: 3;
}
.cloud1 {
  top: 70px;
  right: 1%;
}
.cloud2 {
  top: 30px;
  left: 5%;
}
.cloud3 {
  bottom: 20px;
  left: 12%;
}
.cloud4 {
  bottom: 100px;
  right: 11%;
}
.zi-high {
  z-index: 10;
}
.strip-hero {
  z-index: 1;
  background: #69b4e5;
  background: -moz-linear-gradient(top,  #daeffc 0%, #69b4e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daeffc), color-stop(100%,#69b4e5));
  background: -webkit-linear-gradient(top,  #daeffc 0%,#69b4e5 100%);
  background: -o-linear-gradient(top,  #daeffc 0%,#69b4e5 100%);
  background: -ms-linear-gradient(top,  #daeffc 0%,#69b4e5 100%);
  background: linear-gradient(to bottom,  #daeffc 0%,#69b4e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daeffc', endColorstr='#69b4e5',GradientType=0 );
  padding: 80px 0px 100px;
}
#project-tabs-content {
  padding: 60px 0px 40px;
}
#project-tabs {
  background: #EDF7FD;
  font-family: "jaf-domus-titling-web";
  font-weight: 600;
  li a{
    font-size: 20px;
    padding: 34px 63px;
    position: relative;
    border:0px;
    color: #6F6F71;
    border-radius: 0;
    -webkit-transform: skewX(-20deg); 
    -moz-transform: skewX(-20deg); 
    transform: skewX(-20deg);
    background: transparent;
    @include media-query (md-max){
      padding:38px 46px;
    }
    @include media-query (sm-max){
      padding:23px 28px;
    }
    @include media-query (xs-max){
      padding:23px 20px;
    }
    &:hover{
      background: white;
      color: #654192;
    }
    span{
      -webkit-transform: skewX(20deg); 
      -moz-transform: skewX(20deg); 
      transform: skewX(20deg); 
      display: block;
    }
  }
  li.active a{
    background: white;
    color: #654192;
  }
}
#action {
  .col-md-6{
    position: relative;
    overflow: hidden;
    background:  #fff;
    position: relative;
    &:first-of-type{
      background: #C8E6F9;
    }
  }
}