/* =======================================================================

                                  Navigation

   ======================================================================= */





/* =======================================================================
  Main navigation
======================================================================= */

.navbar-nav > li > a {
  padding: 0 20px;
}
.navbar-nav > li > a.nav-dropdown-toggle {
  padding: 20px 0px;
  background: transparent;
  margin-left: 20px;
  img {
    border-radius: 10px;
  }
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: transparent;
}
.navbar-nav > li.sm-float{
  @include media-query (xs-max){
  float:left;
  width: 27.3%;
  }
}
.navbar-nav > li > a.nav-avatar {
  background: transparent;
  margin: 22px 0px;
  margin-left: 20px;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  padding: 0;
  img {
    border-radius: 18px;
    max-width: 100%;
  }
  @include media-query (xs-max){
    img{
      width:100%;
    }
  }
}
.navbar {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 80px;
  background:  $brand-primary;
  border: none;
  border-radius: 0;
}
.navbar-nav .dropdown-menu {
  padding: 0;
  > li > a {
    display: block;
    padding: 10px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #24216D;
    white-space: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
  }
}
.navbar-brand {
  padding: 29px 15px 55px;
  color: #D2E9FF;
  font-size: 34px;
font-weight: 800;
  &:hover {
    color: #f0f6fa;
  }
}
.navbar-nav > li > a.nav-text-link {
  padding-top: 30px;
  padding-bottom: 34px;
  color: #88ccff;
  line-height: 16px;
  font-weight: 600;
  &:hover {
    background-color: transparent;
    color: #d2e9ff;
  }
  @include media-query (xs-max){
    color:#fff;
    font-size: 16px;
    border-bottom: #FFFFFF;
    padding-bottom: 17px;
    padding-top: 17px;
    border-bottom: 1px solid #ccc;
  }
}
.navbar-spacer {
  height: 80px;
  @media (max-width: 767px) {
    height: 58px;
  }
}
.navbar-collapse, .navbar-form{
  border:0;
}
@include media-query (xs-max){
  .navbar-collapse {
    background: #d2e9ff;
    margin: 0px -15px;
    a {
      color: $brand-primary !important;
    }
  }
}
.navbar-toggle{
  border:0;
  color: #d2e9ff;
  padding: 13px 15px 25px 20px;
  font-size: 30px;
  margin: 0;
}
.navbar-down-arrow {
  position: absolute;
  top: 10px;
  right: -9px;
  color: $brand-primary;
  z-index: 100000;
  padding: 0px;
  margin: 0;
  background: white;
  line-height: 7px;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  text-align: center;
  font-size: 11px;
  border: 4px solid $brand-primary;
}
