/* =======================================================================

                                  Profile

   ======================================================================= */





/* =======================================================================
  Profile header
======================================================================= */

.user-avatar-lg {
  img {
    width: 100%;
    max-height: 250px;
  }
}
.profile-info .fa-circle{
  float: left;
  margin: 4px 25px;
}
.rewards {
  background: #DBEFFB;
  color: #555555;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  border-radius: 0px 0px 4px 4px;
}
.fa-circle {
  font-size: 0.5em;
  line-height: 2em;
  margin: 0 9px;
}





/* =======================================================================
  Rotating modules
======================================================================= */







/* =======================================================================
  Rewards tab
======================================================================= */

#badges ul{
  list-style-type: none;
  padding: 0;
  li{
    text-align:center;
  }
}
#rewards{
  .block{
    background: $g-0;
    padding:11px;
    display: inline-block;
    border:5px solid $g-5;
    border-radius: 10px;
    span{
      display: block;
      text-align: center;
    }
    .big-number{
      font-size: 2.6em;
      line-height: 1;
      font-weight:bold;
    }
  }
}

.i-input input {
padding: 10px;
width: 80%;
height: 42px;
font-size: 16px;
border-radius: 0px 5px 5px 0px;
}



/* =======================================================================
  Profile edit
======================================================================= */

.profile-info.edit{
  .row{
    margin:0 0 10px 0;
  }
}
.i-input{
  input{
    padding: 10px;
    width: 80%;
    height: 42px;
    font-size: 16px;
    border-radius: 0px 5px 5px 0px;
  }
  i{
    background: #EDF7FD;
    border: 1px solid #CCCCCC;
    border-right: 0px;
    border-radius: 5px 0 0 5px;
    float: left;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    min-width: 42px;
  }
}
.i-input.half{
  input{
    width: 70%;
    @include media-query (sm-max){
      width: 80%;
    }
  }
}
.i-input.pull{
  margin-left:-60px;
  @include media-query (sm-max){
    margin: 10px 0;
  }
}
