/* =======================================================================

                                  Projects

   ======================================================================= */





/* =======================================================================
  Header section
======================================================================= */

.project-head .dropdown-menu.settings a{
  font-size: 1.3em;
  padding:10px;
  color: #fff;
  &:hover{
    background:#222;
  }
}
.project-head .dropdown-menu.settings{
  padding: 0;
  right: 0;
  left: auto;
  margin-top: 10px;
  > li > a {
    display: block;
    padding: 10px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #24216D;
    white-space: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 14px;
    &:hover {
      background: #F0F0F0;
    }
  }
}
.promo-container {
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  padding: 40px 0px;
  text-align: center;
  p {
    margin: 0;
    color: #CACACA;
  }
}





/* =======================================================================
  Home tab
======================================================================= */

.soc-link{
  float: right;
  a{
    font-size: 22px;
    margin: -5px 5px 0;
    display: inline-block;
    color: #CACACA;
    span{
      display: none;
    }
  }
}
.project-details {
  p, ul:not(.tags) {
    margin-bottom: 30px;
    color: lighten(#5C5C5C, 10%);
    line-height: 24px;
  }
}





/* =======================================================================
  Comments tab
======================================================================= */

.helper-comment {
  margin:0;
  padding:0;
  .avatar{
    float:left;
    padding-right: 20px;
    margin: 0;
  }
  h3{
    background:#ccc;
    padding: 10px 10px 0 10px;
    margin:0;
    font-size: 1.2em;
  }
  .comment{
    background:#fff;
    border-radius:5px;
    padding: 0;
    p{
      padding:20px 30px;
    }
  }
  .top{
    background: $g-1;
    padding: 11px 30px;
    border-radius:5px 5px 0 0;
  }
  .rewards{
    padding:2px;
    font-size: 0.9em;
  }
  .name{
    float: left;
    margin-right: 5px;
  }
}
.tall-input {
  min-height: 100px;
}
.tri-top:after {
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid $g-1;
  border-top: 10px solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  left: -9px;
  position: absolute;
  top: 11px;
  width: 0;
}





/* =======================================================================
  Timeline tab
======================================================================= */

.circle {
  background: $g-3;
  border: 5px solid $g-0;
  border-radius: 50%;
  display: block;
  height: 24px;
  left: -54px;
  margin-top: -10px;
  position: absolute;
  top: 17px;
  width: 24px;
  @include media-query (xs-max){
    left:-14px;
    top:8px;
  }
}
.timeline {
  border-left: 4px solid $g-1;
  list-style: none outside none;
  margin: 0 0 30px;
  @include media-query (xs-max){
    padding-left:2px;
  }
}
.timeline .card {
  padding-right: 0;
}
