/* =======================================================================

                                    Tabs

   ======================================================================= */





/* =======================================================================
  Site wide tabs
======================================================================= */

.main-input {
  .nav-tabs {
    a{
      padding: 15px 20px;
      @include media-query (xs-max){
        font-size: 1em;
      }
    }
  }
  .form-group{
    border: 1px solid $g-5;
    border-radius: 0px  4px 4px 4px;
  }
  input.form-control{
    width: 100%;
    height: 60px;
    border: 0;
    box-shadow: none;
    @include media-query (xs-max){
      font-size: 0.9em;
    }
  }
}
.nav-tabs {
  border-bottom: none;
  li {
    margin-bottom: 0px;
    z-index: 20;
    a {
      background: #F0F0F0;
      border: 1px solid rgba(0,0,0,0.1);
      border-bottom: none;
      padding: 16px 40px;
      &:hover {
        background: white;
      }
    }
    &.active {
      margin-bottom: -1px;
      a {
        background: white;
        border: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid white !important;
        &:hover {
          background: white;
          border: 1px solid rgba(0,0,0,0.1);
          border-bottom: 1px solid white !important; 
        }
      }
    }
  }
}
.form-tabs {
  li {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    a {
      display: block;
      padding: 20px 5px;
      border: 1px solid #C3D7D9;
      border-bottom: none;
    }
  }
}