.container.section.pb-10
  .col-md-8.col-md-offset-2
    .row
      .col-md-8
        %h1.page-title
          %i.fa.fa-cogs
          =title 'Admin'
    .row.admin
      .col-md-4
        .well
          %h2
            %i.fa.fa-users
            Users
          %ul.list-unstyled
            %li=link_to 'Manage users', manage_users_path
            %li=link_to 'User stats', stats_users_path, :class => 'ml-2'
            %li=link_to 'New user', new_user_path
      .col-md-4
        .well
          %h2
            %i.fa.fa-files-o
            Pages
          %ul.list-unstyled
            %li=link_to 'Manage pages', content_pages_path
            %li=link_to 'New page', new_content_page_path
      .col-md-4
        .well
          %h2
            %i.fa.fa-files-o
            Blog posts
          %ul.list-unstyled
            %li=link_to 'New blog post', new_blog_post_path
      .col-md-4
        .well
          %h2
            %i.fa.fa-folder-open-o
            Project Categories
          %ul.list-unstyled
            %li=link_to 'New project category', new_project_category_path
      .col-md-4
        .well
          %h2
            %i.fa.fa-folder-open-o
            Forums
          %ul.list-unstyled
            %li=link_to 'Manage forums', manage_forums_path
            %li=link_to 'New forum', new_forum_path
