.container
.strip.strip-hero.relative
  .container.hero-holder.relative
    .top-right
      -if can?(:new, BlogPost.new)
        =link_to('', '',  :class => 'btn btn-lg btn-primary visible dropdown', :icon => 'cog', 'data-toggle' => 'dropdown')
        %ul.dropdown-menu.settings
          %li=link_if_can('New blog post', [:new, BlogPost.new], :icon => 'pencil')
    .col-md-8.col-md-offset-2.relative
      %h1.m0.center Blog
.container.section.pv-6
  .col-md-8.col-md-offset-2
    -@blog_posts.each do |post|
      .row.pt-2.pb-2
        .col-md-4
          =link_to post do
            =image_for(post, '200x200#')
        .col-md-8
          %h3=link_to_self post
          %br
          =post.subtitle
      %hr

.container.section.pb-10
  .col-md-8.col-md-offset-2
    =will_paginate @blog_posts
