.container
.strip.strip-hero.relative
  .container.hero-holder.relative
    .top-right
      -if can?(:edit, @blog_post)
        =link_to('', '',  :class => 'btn btn-lg btn-primary visible dropdown', :icon => 'cog', 'data-toggle' => 'dropdown')
        %ul.dropdown-menu.settings
          %li=link_if_can('Edit', [:edit, @blog_post], :icon => 'pencil')
          %li=link_if_can('Delete', [:destroy, @blog_post], method: :delete, confirm: 'Are you sure?', icon: 'trash-o')
    .col-md-8.col-md-offset-2.relative
      .center
        %h1.mb-2=@blog_post.title
        %p.mb-0=@blog_post.subtitle
.container.section.pb-10
  .col-md-8.col-md-offset-2
    .row.pv-6
      .center
        -if @blog_post.image.present?
          .center.mb-3=image_for(@blog_post, '750x300#')
      =raw @blog_post.text
