.container
.strip.strip-hero.relative
  .container.hero-holder.relative
    .col-md-8.col-md-offset-2.relative
      .usr-action-top
        -if can?(:edit, @blog_post)
          =link_to('', '',  :class => 'btn btn-lg btn-gry visible dropdown', :icon => 'cog', 'data-toggle' => 'dropdown')
          %ul.dropdown-menu.settings
            %li=link_if_can('Edit', [:edit, @blog_post], :icon => 'pencil')
            %li=link_if_can('Delete', [:destroy, @blog_post], method: :delete, confirm: 'Are you sure?', icon: 'trash-o')
    .row.center
      -if @blog_post.image
        .col-sm-8.col-sm-offset-2.col-xs-12
          =image_for(@blog_post, '750x300#')
      -else
        .col-sm-4.col-sm-offset-2.col-xs-6
          =image_tag('nya-logo.png')
        .col-sm-4.col-xs-6
          =image_tag('think-big-logo.png')
    %h1.pt-7.center=@blog_post.title
    %p.col-md-6.col-md-offset-3.center.p0
      =@blog_post.subtitle
.container.section.pb-10
  .col-md-8.col-md-offset-2
    .row.pv-6
      =raw @blog_post.text
