.container
  %section#profile
#personal-header.pb-10.pt-10
  .container
    .personal-inner.col-md-12.pl-0
      .col-md-3.col-sm-3.col-xs-3.avatar
        -unless @user.new_record?
          .avatar-wrap#user-image
            =render 'image', user: @user
          .rewards
            %span 8 badges
      .col-md-9.profile-info.edit
        =semantic_form_for(@user, user_url_and_method_create_edit(@user)) do |form|
          =form.inputs do
            .row
              =form.input :first_name, label: false, placeholder: 'First name', prepend: '<i class="fa fa-user"></i>'.html_safe, wrapper_html: { class: 'col-md-6 half' }
              =form.input :last_name, label: false, placeholder: 'Last name', prepend: '<i class="fa fa-user"></i>'.html_safe, wrapper_html: { class: 'col-md-6 half pull' }
            .row
              =form.input :email, label: false, placeholder: 'email', prepend: '<i class="fa fa-envelope"></i>'.html_safe, wrapper_html: { class: 'col-md-6 half' }
              -if @user.new_record?
                =form.input :password, label: false, placeholder: 'password', prepend: '<i class="fa fa-key"></i>'.html_safe, wrapper_html: { class: 'col-md-6 half pull' }
            .row
              =form.input :city, label: false, placeholder: 'Location', prepend: '<i class="fa fa-map-marker"></i>'.html_safe, wrapper_html: { class: 'col-md-6 half' }
              -if @user.new_record?
                =form.input :role, :label => 'Admin?', :as => :boolean, :checked_value => 'admin', :unchecked_value => ''
            .row
              =form.input :twitter, label: false, placeholder: '@username', prepend: '<i class="fa fa-twitter"></i>'.html_safe, wrapper_html: { class: 'col-md-6 half' }
              =form.input :facebook, label: false, placeholder: 'facebook url', prepend: '<i class="fa fa-facebook"></i>'.html_safe, wrapper_html: { class: 'col-md-6 half pull' }
            .row
              =form.input :website, label: false, placeholder: 'Website url', prepend: '<i class="fa fa-globe"></i>'.html_safe, wrapper_html: { class: 'col-md-6 half' }
            .row
              .col-md-8
                %h3 Interests
                %ul.tags.interests
                  %li=link_to('Dance', 'category', :class => 'checked', :icon => 'check')
                  %li=link_to('Art', 'category', :class => 'checked', :icon => 'check')
                  %li=link_to('Sport & Leisure', 'category')
                  %li=link_to('Arts & crafts', 'category')
                  %li=link_to('Games', 'category')
                  %li=link_to('Health & Environment', 'category')
                  %li=link_to('Arts & Crafts', 'category')
                  %li=link_to('Food', 'category')
                  %li=link_to('Music', 'category')
                  %li=link_to('Space & Exploration', 'category')
                %h3 Skills
                %ul.tags.skills
                  %li=link_to('Breakdancing', 'category')
                  %li=link_to('Ballet', 'category')

          .usr-action-top.btn-clear
            =button_tag(type: :submit, class: 'btn btn-lg btn-gry visible col-xs-11 ml-3') do
              %i.fa.fa-check
              Done editing

  #image-modal.modal.fade
    =render 'users/image_modal', user: @user
