%ul.list-unstyled
  -users.each do |user|
    %li.center.col-sm-4
      %div
        =link_to user do
          =image_for(user, '100x100#', :class => 'img-circle mb-1')
      %div
        =link_to_self(user, :class=> 'lg-text white')
        %p.sm-text
          Joined
          =user.created_at.stamp('1st April 2014')
        =link_to(user.city, 'category', :icon => 'map-marker') if user.city?
