%ul.new-members
  -users.each do |user|
    %li.col-md-4.col-sm-6.col-xs-12.mb-3.relative
      .col-lg-3.col-md-4.col-sm-3.col-xs-3.avatar
        .avatar-wrap
          =image_for(user, '50x50#')
      .col-md-8.col-lg-9
        =link_to_self(user, :class=> 'large-txt')
        %p
          Joined
          =user.created_at.stamp('1st April 2014')
        =link_to(user.city, 'category', :icon => 'map-marker') if user.city?
