-login_class = params[:login] ? 'active' : ''
-signup_class = params[:login] ? '' : 'active'

.container
.section-pattern.pv-6
  .container
    .row
      .col-md-8.col-lg-6.col-md-offset-2.col-lg-offset-3.center
        %h1.mb-3 Welcome

.section-white.border-top.pb-4
  .container
    .row.negative-top.mb-6
      .col-sm-6.col-sm-offset-3
        %ul.nav.nav-tabs.form-tabs
          %li{class: login_class }
            =link_to('Sign in', '#login', 'data-toggle' => 'tab')
          %li{class: signup_class }
            =link_to('Sign up', '#signup', 'data-toggle' => 'tab')
          .clearfix

        .form-container
          .tab-content
            #login.tab-pane{class: login_class }
              =render 'registrations/login'

            #signup.tab-pane{class: signup_class }
              =render 'signup'
