.container
.strip-hero
  .container.relative
    =image_tag('cloud1.png', :class => 'home-cloud cloud1')
    =image_tag('cloud2.png', :class => 'home-cloud cloud2')
    =image_tag('cloud3.png', :class => 'home-cloud cloud3')
    =image_tag('cloud4.png', :class => 'home-cloud cloud4')
    .row
      .col-sm-6.zi-high.center.pt-5
        =image_tag('nya-homepage.png')
      .col-sm-5.zi-high
        %h1.homepage-title Make a Difference
        %p.mb-4 From small actions to larger projects – everyone can make a difference! What have you done? What’s your idea? You can help your community and gain valuable skills – you might even have fun! Explore what others have done and have a go!
        =link_to('Discover journeys', discover_path,  :class => 'btn btn-secondary mr-2')
        =link_to('Start your journey', new_project_path,  :class => 'btn btn-primary')

#action-quote
  .container
    .row
      .col-sm-4.col-sm-offset-1

      .col-sm-6.mt-3.pl-5
        %blockquote
          .quote-mark "
          %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue.
        =link_to('Start your own', new_project_path, :class => 'btn btn-primary pull-right')

#project-tabs
  .container
    .row
      .col-md-12
        %ul.nav.nav-tabs.carousel-tabs
          -ProjectCategory.all.each_with_index do |category, idx|
            %li{ class: idx.zero? ? 'active' : '' }
              =link_to("##{category.to_param}", 'data-toggle' => 'tab') do
                %span=category.name

#project-tabs-content
  .container
    .row
      .tab-content
        -ProjectCategory.all.each_with_index do |category, idx|
          .tab-pane.fade{ id: category.to_param, class: idx.zero? ? 'active in' : '' }
            -if category.projects.count.zero?
              %p.lead.center
                No
                =category.name
                projects yet
                =link_to 'Start the first project', new_project_path, class: 'btn btn-lg btn-gry ml-6'
            -else              
              =render category.projects.recent(3)
              =link_to("Show all #{category.projects.count} projects in #{category.name}", discover_project_category_path(category), :class => 'all-link pull-right')

#benefits.section-light.pv-6
  .container
    .row
      %h1.center.pb-5 How SAJ can benefit me
      %ul.col-md-12.list-unstyled.m0.center
        %li.col-md-3.col-xs-6
          =image_tag("home-skills.png", :class => 'mb-2')
          %p Learn Skills
        %li.col-md-3.col-xs-6
          =image_tag("home-cv.png", :class => 'mb-2')
          %p Build CV
        %li.col-md-3.col-xs-6
          =image_tag("home-part.png", :class => 'mb-2')
          %p Be part of something
        %li.col-md-3.col-xs-6
          =image_tag("home-funding.png", :class => 'mb-2')
          %p Get funding
      .col-xs-12
        =link_to('Read more about SAJ', 'about', :class => 'pull-right mt-3')

#action.center
  .col-md-6.p-10.start-tab
    %h1.pb-2 Have an idea?
    %p.mb-2 Create a profile and record your actions – even if they are small things you have done to help 1 person. Get feedback from others and plan a larger project.
    =link_to('Start your journey', new_project_path, :class => 'btn btn-primary')
  .col-md-6.p-10
    %h1.pb-2 Need inspiration?
    %p.mb-2 From DJ workshops to community festivals! Explore what other young people have done. Get inspired for your journey!
    =link_to('Discover', discover_path, :class => 'btn btn-primary')
