.container
.strip.strip-smll.relative
  .container.hero-discover.hero-holder.relative
    %h1.center
      Welcome,
      =current_user.first_name
    .row
      .col-md-8.col-md-offset-3.pt-6
        =link_to('Discover', discover_path,  :class => 'btn btn-lg btn-l-gry col-md-4 mr-4 p-2')
        =link_to('Start a project', new_project_path,  :class => 'btn btn-lg btn-gry col-md-4 p-2')

.split.section
  .container
    .col-md-8.col-md-offset-2
      %h3.col-md-12.pb-3.mt-0 Say hello to new members
      .col-md-12.col-sm-12.col-xs-12
        =render 'users/new_members', users: User.recent


.section.pt-0
  .container
    .col-md-8.col-md-offset-2
      .row
        .col-md-12
          %h3 Notifications
      .row
        =link_to('Jon Kyte thinks you could help out on a project','', :class => 'btn btn-lg btn-gry col-md-12')
        .col-md-12.col-sm-12.col-xs-12.photo.card.pb-3
.section.pt-0
  .container
    .col-md-8.col-md-offset-2
      .row
        .col-md-12
          %h3 Activity feed
      .row
        .col-md-12.col-sm-12.col-xs-12.photo.card.pb-3
          =render Post.first(3)
.section
  .container
    .col-md-8.col-md-offset-2.p-0
      .col-md-12
        %h3 Featured projects
      =render Project.homepage
.section
  .container
    .col-md-8.col-md-offset-2
      .row
        =render 'posts/posts', posts: Post.without(Post.first(3)).paginate(page: params[:page])
