.container
.section-pattern.pv-6
  .container
    .row
      .col-md-8.col-lg-6.col-md-offset-2.col-lg-offset-3.center
        %h1.mb-6
          Welcome,
          =current_user.first_name
        =link_to('Discover', discover_path, :class => 'btn btn-secondary mr-4')
        =link_to('Start a project', new_project_path, :class => 'btn btn-primary')

.section-dark.pv-4
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3.pb-3.m0.white.center Say hello to new members
        =render 'users/new_members', users: User.recent
        
.section-light.pv-4
  .container
    .col-md-8.col-md-offset-2
      .row
        .col-md-12
          %h3.mt-0.mb-2 Notifications
      .row   
        .col-md-12
          =link_to('Jon Kyte thinks you could help out on a journey','', :class => 'btn btn-primary btn-block')

.section-white.pv-4
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3 Activity feed
    .row
      .col-md-8.col-md-offset-2.pb-3
        =render Post.first(3)
    .row
      .col-md-8.col-md-offset-2
        =render Project.homepage
    .row
      .col-md-8.col-md-offset-2
        =render 'posts/posts', posts: Post.without(Post.first(3)).paginate(page: params[:page])
