.container
.strip-hero
  .container.relative.text-center
    .row
      .col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2.mb-3
        =image_tag('nya-homepage.png')
    .row
      .col-sm-8.col-sm-offset-2
        %h1.homepage-title Make a Difference
        %p.mb-4.white From small actions to larger projects – everyone can make a difference! What have you done? What’s your idea? You can help your community and gain valuable skills – you might even have fun! Explore what others have done and have a go!
        =link_to('Discover', discover_path,  :class => 'btn btn-secondary mr-2')
        =link_to('Start your journey', new_project_path,  :class => 'btn btn-primary')

#action-quote
  .container
    .row
      .col-sm-4.col-sm-offset-1
        .blockquote-image
          =image_tag('testimonial.jpg')
      .col-sm-6.mt-3.pl-5
        %blockquote
          .quote-mark "
          %p I would describe the programme as a fantastic opportunity for the NUH young people to come together as a community and to be able to take charge on building a project for the future. The most positive thing to come from the O2 Think Big Project is seeing the young people getting into the spirit of building something positive.
        .row.text-center
          .col-md-8
            %p.small.mv-2 Charleen, Nottingham University Hospital Youth Service (NUH)
          .col-md-4
            =link_to('Start your own', new_project_path, :class => 'btn btn-primary')

#project-tabs
  .container
    .row
      .col-md-12
        %ul.nav.nav-tabs.carousel-tabs
          -ProjectCategory.all.each_with_index do |category, idx|
            %li{ class: idx.zero? ? 'active' : '' }
              =link_to("##{category.to_param}", 'data-toggle' => 'tab') do
                %span=category.name

#project-tabs-content
  .container
    .row
      .tab-content
        -ProjectCategory.all.each_with_index do |category, idx|
          .tab-pane.fade{ id: category.to_param, class: idx.zero? ? 'active in' : '' }
            -if category.projects.count.zero?
              %p.lead.center
                No
                =category.name
                projects yet
                =link_to 'Start the first project', new_project_path, class: 'btn btn-lg btn-gry ml-6'
            -else
              =render category.projects.recent(3)
              =link_to("Show all #{category.projects.count} projects in #{category.name}", discover_project_category_path(category), :class => 'all-link pull-right')

#benefits.section-light.pv-6
  .container
    .row
      %h1.center.pb-5 How can being involved in social action will benefit me
      %ul.col-md-12.list-unstyled.m0.center
        %li.col-md-3.col-xs-6
          =image_tag("home-skills.png", :class => 'mb-2')
          %p Learn Skills
        %li.col-md-3.col-xs-6
          =image_tag("home-cv.png", :class => 'mb-2')
          %p Build CV
        %li.col-md-3.col-xs-6
          =image_tag("home-part.png", :class => 'mb-2')
          %p Be part of something
        %li.col-md-3.col-xs-6
          =image_tag("home-funding.png", :class => 'mb-2')
          %p Make positive change
      .col-xs-12
        =link_to('Read more about My Big Idea', 'about', :class => 'pull-right mt-3')

#action.center
  .col-md-6.p-10.start-tab
    %h1.pb-2 Have an idea?
    %p.mb-2 Create a profile and record your actions – even if they are small things you have done to help one person. Get feedback from others and plan a larger project.
    =link_to('Start your journey', new_project_path, :class => 'btn btn-primary')
  .col-md-6.p-10
    %h1.pb-2 Need inspiration?
    %p.mb-2 From DJ workshops to community festivals! Explore what other young people have done. Get inspired for your journey!
    =link_to('Discover', discover_path, :class => 'btn btn-primary')
