.container
.strip.strip-smll.relative
  .container.hero-discover.hero-holder.relative
    %h1.center Welcome, User
    .row
      .col-md-8.col-md-offset-3.pt-6
        =link_to('Discover', discover_path,  :class => 'btn btn-lg btn-l-gry col-md-4 mr-4 p-2')
        =link_to('Start a project', new_project_path,  :class => 'btn btn-lg btn-gry col-md-4 p-2')
.split.section
  .container
    .col-md-8.col-md-offset-2
      %h3.col-md-12.pb-3.mt-0 Say hello to new members
      .col-md-12.col-sm-12.col-xs-12
        %ul.new-members
          -3.times do
            %li.col-md-4.col-sm-6.col-xs-12.mb-3.relative
              .col-lg-3.col-md-4.col-sm-3.col-xs-3.avatar
                .avatar-wrap
                  =image_tag("profile-thumb.png")
              .col-md-8.col-lg-9
                =link_to('User', 'profile', :class=> 'large-txt')
                %p Joined 1st April 2014
                =link_to('Sheffield','category', :icon => 'map-marker')


.section.pt-0
  .container
    .col-md-8.col-md-offset-2
      .row
        .col-md-12
          %h3 Notifications
      .row
        =link_to('Jon Kyte thinks you could help out on a project','', :class => 'btn btn-lg btn-gry col-md-12')
        .col-md-12.col-sm-12.col-xs-12.photo.card.pb-3
.section.pt-0
  .container
    .col-md-8.col-md-offset-2
      .row
        .col-md-12
          %h3 Activity feed
      .row
        .col-md-12.col-sm-12.col-xs-12.photo.card.pb-3
          .card-wrap
            .card-top
              %time{datetime: "2009-03-29"}
              29
              %sup th
              March 2014
            .image-wrapper
              =image_tag('http://www.lorempixum.com/g/600/400/nature')
            .card-comments.card-info.col-md-6.col-xs-9
              =link_to('2 users commented','#', :class => 'comments', :icon => 'comments')
            .card-likes.col-md-6.col-xs-3.right.pt-2
              =link_to('3', '#', :class => 'likes', :icon => 'heart')
            .comment-input
              %form.form-inline{role: "form"}
              .form-group.col-md-12
                %label.sr-only{for: "comment"} Write your comment
                %input.form-control{placeholder: "Write your comment", type: "text"}
              %ul.user-comment
                -3.times do
                  %li.col-md-12.relative
                    .col-md-1.col-sm-2.avatar
                      .avatar-wrap
                        =image_tag("profile-thumb.png")
                    %h3.profile-name.mb-0
                      =link_to('User', 'profile')
                    =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
                    .time
                      replied
                      %time{datetime: "2009-03-29"}
                      30
                      %sup th
                      March 2014
                    %p That photo is really cool
      .row
        -2.times do
          .col-md-12.col-sm-12.col-xs-12.text.card.pb-3
            .card-wrap
              .card-top
                %time{datetime: "2009-03-29"}
                29
                %sup th
                March 2014
                =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
              .text-comment.col-md-12.p-2
                %p
                  My dance project went really well, didn’t get the funding but thanks to all those that helped. I’m thinking of starting another project along the same lines, but getting involved with younger people this time. What do you think?
              .card-comments.card-info.col-md-10.col-xs-9
                =link_to('Write the first comment', '#', :class => 'comments', :icon => 'comments')
              .card-likes.col-md-2.col-xs-3.right.pt-2
                =link_to('3', '#', :class => 'likes', :icon => 'heart')
              .comment-input
                %form.form-inline{role: "form"}
                .form-group.col-md-12
                  %label.sr-only{for: "comment"} Write your comment
                  %input.form-control{placeholder: "Write your comment", type: "text"}
.section
  .container
    .col-md-8.col-md-offset-2.p-0
      .col-md-12
        %h3 Featured projects
      .col-md-6.col-sm-12.col-xs-12.project.card
        .card-wrap
          .image-wrapper
            .feat-nya
              =image_tag("feat-nya.png")
            =link_to 'project' do
              =image_tag('http://www.lorempixum.com/g/600/400/sports')
          .card-info.col-md-12
            %h3.project-title
              =link_to('Project Name', 'project')
            %span.author
              by
              =link_to('User', 'profile')
            .card-tags.col-md-10.col-xs-9.p-0
              %ul.tags
                %li=link_to('Sports', 'category')
                %li=link_to('Recreation', 'category')
            .card-likes.col-md-2.col-xs-3.right.p-0
              =link_to('3', '#', :class => 'likes', :icon => 'heart')
          .card-footer
            .foot-link.location.col-md-6.col-xs-6
              =link_to('Sheffield', 'category', :icon => 'map-marker')
            .foot-link.helpers.col-md-6.right
              =link_to('23 helpers', 'category', :icon => 'users')
      .col-md-6.col-sm-12.col-xs-12.project.card.pb-3
        .card-wrap
          .image-wrapper
            .feat-nya
              =image_tag("feat-nya.png")
            =link_to 'project' do
              =image_tag('http://www.lorempixum.com/g/600/400/technics')
          .card-info.col-md-12
            %h3.project-title
              =link_to('Project Name', 'project')
            %span.author
              by
              =link_to('User', 'profile')
            .card-tags.col-md-10.col-xs-9.p-0
              %ul.tags
                %li=link_to('Technology', 'category')
                %li=link_to('Computers', 'category')
            .card-likes.col-md-2.col-xs-3.right.p-0
              =link_to('3', '#', :class => 'likes', :icon => 'heart')
          .card-footer
            .foot-link.location.col-md-6.col-xs-6
              =link_to('Leeds', 'category', :icon => 'map-marker')
            .foot-link.helpers.col-md-6.right
              =link_to('51 helpers', 'category', :icon => 'users')
.section
  .container
    .col-md-8.col-md-offset-2
      .row
        -2.times do
          .col-md-12.col-sm-12.col-xs-12.text.card.pb-3
            .card-wrap
              .card-top
                %time{datetime: "2009-03-29"}
                29
                %sup th
                March 2014
                =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
              .text-comment.col-md-12.p-2
                %p
                  My dance project went really well, didn’t get the funding but thanks to all those that helped. I’m thinking of starting another project along the same lines, but getting involved with younger people this time. What do you think?
              .card-comments.card-info.col-md-10.col-xs-9
                =link_to('Write the first comment', '#', :class => 'comments', :icon => 'comments')
              .card-likes.col-md-2.col-xs-3.right.pt-2
                =link_to('3', '#', :class => 'likes', :icon => 'heart')
              .comment-input
                %form.form-inline{role: "form"}
                .form-group.col-md-12
                  %label.sr-only{for: "comment"} Write your comment
                  %input.form-control{placeholder: "Write your comment", type: "text"}
