.card
  .card-header
    %time{datetime: "2009-03-29"}
    29
    %sup th
    March 2014
    =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
  .card-img
    =image_tag("http://www.lorempixum.com/g/600/400/?#{rand(10000)}")
  .card-info
    .col-xs-10.p0=link_to('2 users commented','#', :class => 'comments', :icon => 'comments')
    .col-xs-2.p0.right=link_to('3', '#', :class => 'likes')
    .clearfix

-#
  .comment-input
    %form.form-inline{role: "form"}
    .form-group.col-md-12
      %label.sr-only{for: "comment"} Write your comment
      %input.form-control{placeholder: "Write your comment", type: "text"}
    %ul.user-comment
      -3.times do
        %li.col-md-12.relative
          .col-md-1.col-sm-2.avatar
            .avatar-wrap
              =image_tag("profile-thumb.png")
          %h3.profile-name.mb-0
            =link_to('User', 'profile')
          =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
          .time
            replied
            %time{datetime: "2009-03-29"}
            30
            %sup th
            March 2014
          %p That photo is really cool