.card
  .card-header
    %time{datetime: "2009-03-29"}
    29
    %sup th
    March 2014
  .card-info
    %p My dance journey went really well, didn’t get the funding but thanks to all those that helped. I’m thinking of starting another journey along the same lines, but getting involved with younger people this time. What do you think?
    .col-xs-10.p0=link_to('2 users commented','#', :class => 'comments', :icon => 'comments')
    .col-xs-2.p0.right=link_to('3', '#', :class => 'likes')
    .clearfix
  .comment-input
    %form.form-inline{role: "form"}
    .form-group.col-md-12
      %label.sr-only{for: "comment"} Write your comment
      %input.form-control{placeholder: "Write your comment", type: "text"}


-#
  .card-comments.card-info.col-md-10.col-xs-9
    =link_to('Write the first comment', '#', :class => 'comments', :icon => 'comments')
  .card-likes.col-md-2.col-xs-3.right.pt-2
    =link_to('3', '#', :class => 'likes', :icon => 'heart')
  .comment-input
    %form.form-inline{role: "form"}
    .form-group.col-md-12
      %label.sr-only{for: "comment"} Write your comment
      %input.form-control{placeholder: "Write your comment", type: "text"}