.col-md-4.col-sm-12.mb-3
  .card.project-card{ class: project.tag_list.join(' ') }
    .card-img
      =link_to project do
        %span.feat-star
        -if project.image
          =image_for(project, '360x')
        -else
          =image_tag("http://lorempixel.com/360/180/?#{rand(10000)}")
    .card-info
      %h3.project-title=link_to(project.title, project)
      .sub-text.pb-1
        by
        =link_to(project.user.full_name, user_path(project.user))
      %p This is an excerpt of the journey maximum of 150 chars
      .mt-2
        .col-xs-10.p0
          %ul.tags.m0
            =render :partial => 'tags/tag', :collection => project.tags
        .col-xs-2.p0.right
          =like_link(project,
                     like_text: project.likings.size,
                     unlike_text: project.likings.size,
                     class: 'likes')
      .clearfix
    .card-footer
      =link_to(project.city, near_project_path(project), :icon => 'map-marker', :class => 'col-xs-6')
      =link_to(pluralize(project.helpers.length, 'helper'), project, :icon => 'users', :class => 'col-xs-6')