.col-md-4.mb-3.project-card
  .card-wrap
    .image-wrapper
      =link_to project do
        %span.feat-star
        -if project.image
          =image_for(project, '360x')
        -else
          =image_tag('http://lorempixel.com/360/180/')
    .card-info.col-md-12
      %h3.project-title
        =link_to(project.title, project)
      %span.author
        by
        =link_to(project.user.full_name, user_path(project.user))
      .card-tags.col-md-10.p-0
        %ul.tags
          =render :partial => 'tags/tag', :collection => project.tags
      .card-likes.col-md-2.right.p-0
        =link_to('3', '#', :class => 'likes', :icon => 'heart')
    .card-footer
      .foot-link.location.col-md-6.col-xs-6
        =link_to(project.city, '#', :icon => 'map-marker')
      .foot-link.helpers.col-md-6.col-xs-6.right
        =link_to('2 helpers', '#', :icon => 'users')
