.container
.section-pattern.pv-6
  .container
    .row
      .col-md-8.col-lg-6.col-md-offset-2.col-lg-offset-3.center
        %h1.mb-3 Start your journey

.section-white.border-top.pb-4
  .container
    .row.negative-top.mb-6
      .col-sm-6.col-sm-offset-3
        %ul.nav.nav-tabs.form-tabs
          %li.active=link_to('My journey', '#myproject', 'data-toggle' => 'tab')
          -# %li=link_to('Preview', '#preview', 'data-toggle' => 'tab')


        .form-container
          .tab-content
            #myproject.tab-pane.active
              .p3
                .progress.mb-0
                  .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "1", role: "progressbar", style: "width: 1%;"}
                    %span.sr-only 1% Complete

              =render 'form', button_label: 'Create your project'

              -# =link_to('Next', '#', :class => 'form-input-btn btn-block')

            #preview.tab-pane
              .p3
                %h1 Project Name
                %p.mb-2
                  %i.fa.fa-map-marker
                  Sheffield
                =image_placeholder('600x350', :class => 'img-responsive mb-1')
                .mb-2
                  %span.label.label-default Dance
                  %span.label.label-default Art
                %h2 Project description
                %p.mb-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae metus diam. Sed ut risus nec nunc interdum sollicitudin. Suspendisse eu quam lectus. Integer nec posuere leo, ut pretium risus. Cras gravida malesuada egestas. Donec consequat risus eu erat aliquet, eget dictum arcu vestibulum. Nam eget lobortis eros, et mollis nibh. Duis ullamcorper, velit vitae lacinia tristique, quam dui dictum massa, in tincidunt urna lacus in neque. Quisque suscipit odio quis nunc sollicitudin varius. Praesent risus felis, tristique sed lobortis at, suscipit eu nisl. Donec suscipit magna a odio accumsan, non dignissim ipsum dictum. Morbi ut arcu eu nibh blandit venenatis et id mi. Aliquam rhoncus in metus sit amet laoreet. Vestibulum cursus, libero sit amet cursus porta, arcu elit tempor sapien, ac feugiat sapien quam in nibh. Proin imperdiet ut ligula at venenati

                %h2 Things I need help with
                %ul.mb-2
                  %li List item
                  %li List item
                  %li List item
                  %li List item
                  %li List item

                %h2 Purpose of the project
                %p.mb-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae metus diam. Sed ut risus nec nunc interdum sollicitudin. Suspendisse eu quam lectus.

                %h2 People working on the project
                %ul.mb-2
                  %li Person 1
                  %li Person 2

                %h2 Project deadline
                %p 23rd september 2014
