=content_for :head do
  :coffeescript
    $ ->
      Search.init()

.container
.section-pattern.pv-6
  .container
    .row
      .col-md-8.col-lg-6.col-md-offset-2.col-lg-offset-3.center
        %h1
          -if @query.present?
            Searching for
            %strong=@query
          -else
            All journeys
      .col-md-8.col-lg-6.col-md-offset-2.col-lg-offset-3.center
        =form_tag search_projects_path, id: 'search-form', method: :get do
          .row
            .col-lg-8.col-md-8.col-md-offset-2.col-lg-offset-2
              =text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search journeys...'
            .col-md-4.col-lg-2
              %button.btn.pull-left#submit-search
                %i.fa.fa-search

.section-white.pv-4.border-top
  .container
    .row
      .col-md-2#tags
        %h3.mt-0 Tags
        =link_to_all_tag
        -Tag.order(:name).each do |tag|
          =link_to_search_tag(tag)
        .clear
        =link_to('Clear search', search_projects_path, class: 'btn btn-primary btn-confirm btn-sm btn-block mv-4')

      -if @projects.to_a.count.zero?
        .col-md-8
          %p.lead.center Sorry no journeys found
      -else
        .col-md-10
          .row.js-isotope{ id: 'projects-container', data: { isotope_options: { itemSelector: '.project-card' }}}
            =render @projects
