.container
  %section
#personal-header.pb-10.pt-10.mb-3
  .container.project-head
    .personal-inner.col-md-12.pl-0
      %h1.personal-name
        =@project.title
      .author.meta
        by
        =link_to(@project.user.full_name, user_path(@project.user))
      .location.meta
        =link_to(@project.city, '#', :icon => 'map-marker')
      .time.meta
        %time{datetime: short_date(@project.created_at)}
          =long_date(@project.created_at)
      .usr-action-top
        =link_to('', '',  :class => 'btn btn-lg btn-gry visible dropdown', :icon => 'cog', 'data-toggle' => 'dropdown')
        %ul.dropdown-menu.settings
          -if can? :edit, @project
            %li=link_to('Edit', edit_project_path(@project), :icon => 'pencil')
          -# %li=link_to('Pin', 'profile#projects', :icon => 'thumb-tack')
          -if can? :owners, @project
            %li=link_to('Add & remove owners', owners_project_path(@project), icon: 'group')
          %li=link_to('Pin', 'profile#projects', :icon => 'thumb-tack')
          -if can? :destroy, @project
            %li=link_to('Delete', @project, :method => :delete, :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
    %ul.nav.nav-tabs.main-tabs
      %li.active
        =link_to('#home', 'data-toggle' => 'tab') do
          Home
      %li
        =link_to('#blog', 'data-toggle' => 'tab') do
          Blog
      %li
        =link_to('#comments', 'data-toggle' => 'tab') do
          %span.badge.pull-right.ml-6
            =@project.project_comments.count
          Comments

.container#project
  .tab-content
    #home.tab-pane.active.fade.in
      .row.promotion-lrg
        .col-md-12.p-2
          %h3 ThinkBig can help fund your project
      .col-md-8.col-md-offset-2.pb-10
        .row.usr-action.col-md-offset-2
          =link_to('#',  :class => 'btn btn-lg btn-gry like-us col-md-5 mb-1 col-xs-12 mr-1') do
            %span.pull-left 37 like us
            %i.fa.fa-heart.pull-right
          =render 'help_button', link_id: 'link-help-1'
          .row
            .project-image
              -if @project.image
                =image_for(@project, '720x')
              -else
                =image_tag('http://lorempixel.com/720/307/')
        .row.project-tags
          =link_to('Tags', '#',:icon => 'tags')
          %ul.tags
            =render :partial => 'tags/tag', :collection => @project.tags
        .row
          %h3 Description
          =@project.description
        .row
          %h3 Things I need help with
          =@project.help_needed
        .row
          %h3 Purpose of the project
          =@project.purpose
        .row
          %h3 Project deadline
          %p
            =long_date(@project.deadline)
        .row.usr-action.col-md-offset-2
          .col-md-5.col-xs-12.mr-1.mb-1.btn.btn-lg.btn-gry.share-btn
            %p Share
            %span.soc-link
              =link_to('<span>Twitter</span>'.html_safe,'#', :icon => 'twitter-square')
              =link_to('<span>Facebook</span>'.html_safe,'#', :icon => 'facebook-square')
              =link_to('<span>Pinterest</span>'.html_safe,'#', :icon => 'pinterest-square')
          =render 'help_button', link_id: 'link-help-2'
    #blog.tab-pane.fade.in
      .col-md-8.col-md-offset-2
        .row
          -if current_user == @project.user
            =render 'posts/remote_form', post: @project.project_blogs.build
        .row
          =render 'posts/posts', posts: @project.project_blogs.paginate(page: params[:page])

    #comments.tab-pane.fade.in
      .col-md-8.col-md-offset-2
        .row
          =render 'posts/remote_form', post: @project.project_comments.build
        .row
          =render 'posts/posts', posts: @project.project_comments.paginate(page: params[:page])

=render 'help_modal',
   help_post_path: offer_help_project_path(@project),
   modal_title: 'Offer help',
   modal_text: 'This form will email the project creator with your message and your email address so they can contact you.'
