.container
.section-pattern
  .container
    .row.pv-10
      .col-sm-12.relative
        %h1.lg-title=@project.title
        %p.md-text
          by
          =link_to(@project.user.full_name, user_path(@project.user))
        %p.md-text.faded-text
          %time{datetime: short_date(@project.created_at)}
            =long_date(@project.created_at)
          %i.fa.fa-circle
          =link_to(@project.city, near_project_path(@project), icon: 'map-marker', id: 'location-search-link')
        .top-right
          =like_link_with_count(@project,
                     like_text: @project.likings.size,
                     unlike_text: @project.likings.size,
                     class: 'btn btn-secondary btn-sm like-us',
                     id: 'like-us-button')
          =render 'help_button', link_id: 'link-help-1'
          -if can? :edit, @project
            =link_to('', '',  :class => 'btn btn-success btn-sm visible dropdown', :icon => 'cog', 'data-toggle' => 'dropdown')
            %ul.dropdown-menu.settings
              .arrow
              -if can? :edit, @project
                %li=link_to('Edit', edit_project_path(@project), :icon => 'pencil')
              -if can? :owners, @project
                %li=link_to('Add & remove owners', owners_project_path(@project), icon: 'group')
              -if can? :destroy, @project
                %li=link_to('Delete', @project, :method => :delete, :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")

    %ul.nav.nav-tabs
      %li.active=link_to('Home', '#home', 'data-toggle' => 'tab')
      %li=link_to('Blog', '#blog', 'data-toggle' => 'tab')
      %li
        =link_to('#comments', 'data-toggle' => 'tab') do
          %span.badge.pull-right.ml-1
            =@project.project_comments.count
          Comments

.section-white.border-top.pv-4
  .container
    .row
      .col-md-8.col-md-offset-2
        .promo-container.mb-3
          %p Funding ad space
      .col-md-8.col-md-offset-2
        .tab-content
          #home.tab-pane.active.fade.in
            =like_link_with_count(@project,
                       like_text: @project.likings.size,
                       unlike_text: @project.likings.size,
                       class: 'btn btn-secondary btn-lg half-button mb-2',
                       id: 'like-us-button')
            =render 'help_button', link_id: 'link-help-1'
            .project-details.mb-4
              -if @project.image
                =image_for(@project, '760x', :class => 'mb-1')
              -else
                =image_tag('http://lorempixel.com/760/307/', :class => 'mb-1')
              %ul.tags.mb-3
                =render :partial => 'tags/tag', :collection => @project.tags
              .row
                .col-md-8
                  %h3 Journey inspiration
                  %p=@project.inspiration
                  %h3 Skills I have
                  %p=@project.skills_have
                  %h3 Skills needed
                  %p=@project.skills_needed
                  %h3 Who the journey will be helping
                  %p=@project.who_helping
                  %h3 How the journey will be helping
                  %p=@project.how_helping
                  %h3 Journey deadline
                  %p=long_date(@project.deadline)
                .col-md-4
                  %h3 Steps
                  %ol
                    -%w(step1 step2 step3 step4 step5).each do |step|
                      -if @project.send(step).present?
                        %li=@project.send(step)

            .row
              .col-xs-12
                =like_link_with_count(@project,
                           like_text: @project.likings.size,
                           unlike_text: @project.likings.size,
                           class: 'btn btn-secondary btn-lg half-button mb-4',
                           id: 'like-us-button')
                =render 'help_button', link_id: 'link-help-2'
            %hr.mb-2
            %span.pull-left.small-caps Share
            %span.soc-link
              =link_to('<span>Twitter</span>'.html_safe,'#', :icon => 'twitter-square', :class => 'twitter')
              =link_to('<span>Facebook</span>'.html_safe,'#', :icon => 'facebook-square', :class => 'facebook')
              =link_to('<span>Pinterest</span>'.html_safe,'#', :icon => 'pinterest-square', :class => 'pinterest')

          #blog.tab-pane.fade.in
            .main-input.mb-4
              -if @project.can_blog?(current_user)
                =render 'posts/remote_form', post: @project.project_blogs.build
            %ul.row.timeline
              %li
                .col-md-12.col-sm-12.col-xs-12.pb-3
                  =render 'posts/posts', posts: @project_blogs

          #comments.tab-pane.fade.in.main-input
            =render 'posts/remote_form', post: @project.project_comments.build
            =render 'posts/posts', posts: @project_comments

=render 'help_modal',
   help_post_path: offer_help_project_path(@project),
   modal_title: 'Offer help',
   modal_text: 'This form will email the project creator with your message and your email address so they can contact you.'
