-unless @projects.empty?
  .p-tb.section
    .container
      .row
        .col-md-12.center
          -if @projects.total_pages > 1
            =link_to 'Show more', path, :remote => true, :id => 'show_more_link', :class => 'btn btn-lg btn-gry'
