.container.section.pb-10
  .col-md-8.col-md-offset-2
    .row
      .col-md-8
        %h1 Edit
        =@project_category.name
        =render 'form'
        %hr
        =button_to 'Delete', project_category_path(@project_category), method: :delete, class: 'btn btn-primary'
