.container
.strip.strip-hero.relative
  .container.hero-discover.hero-holder.relative.pt-10
    %h1.pt-10.center FAQ
    %p.col-md-6.col-md-offset-3.center.pb-3
      Browse our list of common frequently asked questions below. If its not there, don't hesitate to
      =link_to('drop us a line ','contact')
      or use our
      =link_to('live chat', 'live-chat')
      , and you'll get instant feedback!
.container.section.pb-10.pt-10
  .col-md-8.col-md-offset-2
    .row
      .col-md-6.p-0
        %h1 FAQs about project
        %ul.p-0
          %li=link_to('How do I start a project?', new_project_path)
          %li=link_to('How do I get my project featured by NYA?', '#featured-project')
          %li=link_to('Are there any opportunities for training?', '#training')
        %h1.pt-3 FAQs about funding
        %ul.p-0
          %li=link_to('How can I get funding for my project?', '#funding-project')

    .row.p-tb#start-project
      %h3 How do I start a project?
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae metus diam. Sed ut risus nec nunc interdum sollicitudin. Suspendisse eu quam lectus. Integer nec posuere leo, ut pretium risus. Cras gravida malesuada egestas. Donec consequat risus eu erat aliquet, eget dictum arcu vestibulum. Nam eget lobortis eros, et mollis nibh. Duis ullamcorper, velit vitae lacinia tristique, quam dui dictum massa, in tincidunt urna lacus in neque. Quisque suscipit odio quis nunc sollicitudin varius. Praesent risus felis, tristique sed lobortis at, suscipit eu nisl. Donec suscipit magna a odio accumsan, non dignissim ipsum dictum. Morbi ut arcu eu nibh blandit venenatis et id mi. Aliquam rhoncus in metus sit amet laoreet. Vestibulum cursus, libero sit amet cursus porta, arcu elit tempor sapien, ac feugiat sapien quam in nibh. Proin imperdiet ut ligula at venenatis
    .row.p-tb#featured-project
      %h3 How do I get my project featured by NYA?
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae metus diam. Sed ut risus nec nunc interdum sollicitudin. Suspendisse eu quam lectus. Integer nec posuere leo, ut pretium risus. Cras gravida malesuada egestas. Donec consequat risus eu erat aliquet, eget dictum arcu vestibulum. Nam eget lobortis eros, et mollis nibh. Duis ullamcorper, velit vitae lacinia tristique, quam dui dictum massa, in tincidunt
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae metus diam. Sed ut risus nec nunc interdum sollicitudin. Suspendisse eu quam lectus. Integer nec posuere leo, ut pretium risus. Cras gravida malesuada egestas. Donec consequat risus eu erat aliquet, eget dictum arcu vestibulum. Nam eget lobortis eros, et mollis nibh. Duis ullamcorper, velit vitae lacinia tristique, quam dui dictum massa, in tincidunt
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae metus diam. Sed ut risus nec nunc interdum sollicitudin. Suspendisse eu quam lectus. Integer nec posuere leo, ut pretium risus. Cras gravida malesuada egestas. Donec consequat risus eu erat aliquet, eget dictum arcu vestibulum. Nam eget lobortis eros, et mollis nibh. Duis ullamcorper, velit vitae lacinia tristique, quam dui dictum massa, in tincidunt

    .row.p-tb#training
      %h3 Are there any opportunities for training?
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae metus diam. Sed ut risus nec nunc interdum sollicitudin. Suspendisse eu quam lectus. Integer nec posuere leo, ut pretium risus. Cras gravida malesuada egestas. Donec consequat risus eu erat aliquet, eget dictum arcu vestibulum. Nam eget lobortis eros, et mollis nibh. Duis ullamcorper, velit vitae lacinia tristique, quam dui dictum massa, in tincidunt urna lacus in neque. Quisque suscipit odio quis nunc sollicitudin varius. Praesent risus felis, tristique sed lobortis at, suscipit eu nisl. Donec suscipit magna a odio accumsan, non dignissim ipsum dictum. Morbi ut arcu eu nibh blandit venenatis et id mi. Aliquam rhoncus in metus sit amet laoreet. Vestibulum cursus, libero sit amet cursus porta, arcu elit tempor sapien, ac feugiat sapien quam in nibh. Proin imperdiet ut ligula at venenatis
    .row.p-tb#funding-project
      %h3 How can I get funding for my project?
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae metus diam. Sed ut risus nec nunc interdum sollicitudin. Suspendisse eu quam lectus. Integer nec posuere leo, ut pretium risus. Cras gravida malesuada egestas. Donec consequat risus eu erat aliquet, eget dictum arcu vestibulum. Nam eget lobortis eros, et mollis nibh. Duis ullamcorper, velit vitae lacinia tristique, quam dui dictum massa, in tincidunt urna lacus in neque. Quisque suscipit odio quis nunc sollicitudin varius. Praesent risus felis, tristique sed lobortis at, suscipit eu nisl. Donec suscipit magna a odio accumsan, non dignissim ipsum dictum. Morbi ut arcu eu nibh blandit venenatis et id mi. Aliquam rhoncus in metus sit amet laoreet. Vestibulum cursus, libero sit amet cursus porta, arcu elit tempor sapien, ac feugiat sapien quam in nibh. Proin imperdiet ut ligula at venenatis
