.container
  %section#profile
#personal-header.pb-10.pt-10.mb-3
  .container
    .personal-inner.col-md-12.pl-0
      .col-md-3.col-sm-3.col-xs-3.avatar
        .avatar-wrap
          =image_tag("profile-thumb.png")
        .rewards
          %span 8 badges
          %i.fa.fa-circle
          %span 20 points
      .col-md-9.profile-info
        .row
          .col-md-12
            %h1.personal-name User
        .row
          .col-md-12
            .location.meta
              =link_to('Sheffield', 'search', :icon => 'map-marker')
        .row
          .col-md-12
            .social
              =link_to('', '#', :class => 'twitter', :icon => 'twitter')
              =link_to('', '#', :class => 'facebook', :icon => 'facebook')
        .row
          .col-md-12
            %ul.tags.interests
              %li=link_to('Dance', 'category')
              %li=link_to('Art', 'category')
            %ul.tags.skills
              %li=link_to('Breakdancing', 'category')
              %li=link_to('Ballet', 'category')
      .usr-action-top
        =link_to('Request help', '',  :class => 'btn btn-lg btn-gry visible', :icon => 'hand-o-up')
        =link_to('', 'profile-edit',  :class => 'btn btn-lg btn-gry visible', :icon => 'cog')

    %ul.nav.nav-tabs.main-tabs
      %li.active
        =link_to('#home', 'data-toggle' => 'tab') do
          Home
      %li
        =link_to('#projects', 'data-toggle' => 'tab') do
          %span.badge.pull-right.ml-6
            2
          Projects
      %li
        =link_to('#rewards', 'data-toggle' => 'tab') do
          Rewards


.container
  .tab-content
    #home.tab-pane.active.fade.in
      .row
        .col-md-6.pb-3
          .top-cta.alert.fade.in
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"}
              %i.fa.fa-times-circle
            %strong You haven't added your location yet
            %em Enter your location below
            %form.form-inline{role: "form"}
              .form-group
                %label.sr-only{for: "location"} Enter your location below
                %input.form-control{placeholder: "Enter location", type: "text"}
                %button.btn.btn-lg.btn-gry{type: "button"} Okay
        .col-md-6.pb-2
          .top-cta.promo
            %h3 ThinkBig can help fund your project
            =link_to('Learn more about ThinkBig', '',  :class => 'btn btn-lg btn-gry')

      .row.pb-3.pt-3#forums-following
        .col-md-12
          %h2.heading.col-md-6 Forums you're following
          %ul.tags.right.pr-2
            %li=link_to('Food', 'forum')
            %li=link_to('Sport', 'forum')
            %li=link_to('Technology', 'forum')
            %li=link_to('Space & Exploration', 'forum')

      .row
        .col-md-12.main-input.pb-3
          %ul.nav.nav-tabs
            %li.active
              =link_to('<span>Write</span>'.html_safe,'#write', :icon => 'pencil', 'data-toggle' => 'tab')
            %li
              =link_to('<span>Image</span>'.html_safe,'#image', :icon => 'camera', 'data-toggle' => 'tab')
            %li
              =link_to('<span>Promote a project</span>'.html_safe,'#promote', :icon => 'share', 'data-toggle' => 'tab')
            %li
              =link_to('<span>Link</span>'.html_safe,'#link', :icon => 'link', 'data-toggle' => 'tab')
            %li
              =link_to('<span>Add event</span>'.html_safe,'#event', :icon => 'calendar', 'data-toggle' => 'tab')
          .tab-content
            #write.tab-pane.fade.in.active
              %form.form-inline{role: "form"}
                .form-group.col-md-12.col-sm-12
                  %label.sr-only{for: "comment"} What do you want to talk about?
                  %input.form-control{placeholder: "What do you want to talk about?", type: "text"}

            #image.tab-pane.fade.in
              %form.form-inline{role: "form"}
                .form-group.col-md-12
                  %label.sr-only{for: "comment"} Drag and drop an image
                  %input.form-control{placeholder: "Drag and drop an image into this area", type: "text"}
            #promote.tab-pane.fade.in
              %form.form-inline{role: "form"}
                .form-group.col-md-12
                  %label.sr-only{for: "comment"} Start typing the name of the project you want to promote
                  %input.form-control{placeholder: "Start typing the name of the project you want to promote", type: "text"}
            #link.tab-pane.fade.in
              %form.form-inline{role: "form"}
                .form-group.col-md-12
                  %label.sr-only{for: "comment"} Paste a link into this area
                  %input.form-control{placeholder: "Paste a link into this area", type: "text"}
            #event.tab-pane.fade.in
              %form.form-inline{role: "form"}
                .form-group.col-md-12
                  %label.sr-only{for: "comment"} What happened? What is going to happen?
                  %input.form-control.event{placeholder: "What happened? What is going to happen?", :id => 'datepicker', type: "text"}

      .row.js-masonry{ :data => { :masonry_options => { :itemSelector => '.col-md-6' }}}
        .col-md-6.col-sm-12.col-xs-12.photo.card.pb-3
          .card-wrap
            .card-top
              %time{datetime: "2009-03-29"}
              29
              %sup th
              March 2014
              =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
            .image-wrapper
              =image_tag('http://www.lorempixum.com/g/800/400/city')
            .card-comments.card-info.col-md-6.col-xs-9
              =link_to('2 users commented','#', :class => 'comments', :icon => 'comments')
            .card-likes.col-md-6.col-xs-3.right.pt-2
              =link_to('3', '#', :class => 'likes', :icon => 'heart')
            .comment-input
              %form.form-inline{role: "form"}
              .form-group.col-md-12
                %label.sr-only{for: "comment"} Write your comment
                %input.form-control{placeholder: "Write your comment", type: "text"}
              %ul.user-comment
                -3.times do
                  %li.col-md-12.relative
                    .col-md-2.col-sm-2.avatar
                      .avatar-wrap
                        =image_tag("profile-thumb.png")
                    %h3.profile-name.mb-0
                      =link_to('User', 'profile')
                    =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
                    .time
                      replied
                      %time{datetime: "2009-03-29"}
                      30
                      %sup th
                      March 2014
                    %p That photo is really cool

        .col-md-6.col-sm-12.col-xs-12.project.card.pb-3
          .card-wrap
            .card-top
              %time{datetime: "2009-03-30"}
              30
              %sup th
              March 2014
              =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
            .image-wrapper
              =link_to 'project' do
                =image_tag('http://www.lorempixum.com/g/800/400/food')
            .card-info.col-md-12
              %h3.project-title
                =link_to('Project Name', 'project')
              %p.desc This is an excerpt of the project description maximum of 150 characters
              .card-tags.col-md-6.col-xs-9.p-0
                %ul.tags
                  %li=link_to('Breakdancing', 'category')
                  %li=link_to('Space & Exploration', 'category')
              .card-likes.col-md-6.col-xs-3.right.pt-2
                =link_to('3', '#', :class => 'likes', :icon => 'heart')
            .card-footer
              .foot-link.location.col-md-6.col-xs-6
                =link_to('Birmingham', 'search',  :icon => 'map-marker')
              .foot-link.helpers.col-md-6.right
                =link_to('2 helpers', 'search',  :icon => 'users')

        .col-md-6.col-sm-12.col-xs-12.text.card.pb-3
          .card-wrap
            .card-top
              %time{datetime: "2009-03-29"}
              29
              %sup th
              March 2014
              =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
            .text-comment.col-md-12.p-2
              %p
                My dance project went really well, didn’t get the funding but thanks to all those that helped. I’m thinking of starting another project along the same lines, but getting involved with younger people this time. What do you think?
            .card-comments.card-info.col-md-6.col-xs-9
              =link_to('Write the first comment', '#', :class => 'comments', :icon => 'comments')
            .card-likes.col-md-6.col-xs-3.right.pt-2
              =link_to('3', '#', :class => 'likes', :icon => 'heart')
            .comment-input
              %form.form-inline{role: "form"}
              .form-group.col-md-12
                %label.sr-only{for: "comment"} Write your comment
                %input.form-control{placeholder: "Write your comment", type: "text"}


    #projects.tab-pane.fade.in
      .row
        .col-md-6.pb-3
          .top-cta.alert.fade.in
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"}
              %i.fa.fa-times-circle
            %strong You haven't added your location yet
            %em Enter your location below
            %form.form-inline{role: "form"}
              .form-group
                %label.sr-only{for: "location"} Enter your location below
                %input.form-control{placeholder: "Enter location", type: "text"}
                %button.btn.btn-lg.btn-gry{type: "button"} Okay
        .col-md-6.pb-2
          .top-cta.promo
            %h3 ThinkBig can help fund your project
            =link_to('Learn more about ThinkBig', 'about',  :class => 'btn btn-lg btn-gry')


      .row.js-masonry{ :data => { :masonry_options => { :itemSelector => '.col-md-4' }}}
        .col-md-4.col-sm-12.col-xs-12.card.pb-3
          .card-wrap
            .card-top
              %time{datetime: "2009-11-13"}
              13
              %sup th
              November 2014
              =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
              =link_to('<span>Pin</span>'.html_safe,'#', :class => 'usr-link pin-it', :icon => 'thumb-tack')
            .image-wrapper
              =link_to 'project' do
                =image_tag('http://www.lorempixum.com/g/400/400/food')
            .card-info.col-md-12
              %h3.project-title
                =link_to('Project Name', 'project')
              %p.desc This is an excerpt of the project description maximum of 150 characters
              .card-tags.col-md-10.p-0
                %ul.tags
                  %li=link_to('Breakdancing', 'category')
                  %li=link_to('Space & Exploration', 'category')
              .card-likes.col-md-2.right.p-0
                =link_to('3', '#', :class => 'likes', :icon => 'heart')
            .card-footer
              .foot-link.location.col-md-6.col-xs-6
                =link_to('Birmingham', 'search', :icon => 'map-marker')
              .foot-link.helpers.col-md-6.right
                =link_to('2 helpers', 'search', :icon => 'users')

        .col-md-4.col-sm-12.col-xs-12.card.feat.pb-3
          .card-wrap
            .card-top
              %time{datetime: "2009-11-13"}
              13
              %sup th
              November 2014
              =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
              =link_to('<span>Pin</span>'.html_safe,'#', :class => 'usr-link pin-it', :icon => 'thumb-tack')
            .image-wrapper
              =link_to 'project' do
                .feat-nya
                  =image_tag("feat-nya.png")
                =image_tag('http://www.lorempixum.com/g/800/400/sport')
            .card-info.col-md-12
              %h3.project-title
                =link_to('Project Name', 'project')
              %p.desc This is an excerpt of the project description maximum of 150 characters
              .card-tags.col-md-10.p-0
                %ul.tags
                  %li=link_to('Breakdancing', 'category')
                  %li=link_to('Space & Exploration', 'category')
              .card-likes.col-md-2.right.p-0
                =link_to('3', '#', :class => 'likes', :icon => 'heart')
            .card-footer
              .foot-link.location.col-md-6.col-xs-6
                =link_to('Birmingham', 'search', :icon => 'map-marker')
              .foot-link.helpers.col-md-6.right
                =link_to('2 helpers', 'search', :icon => 'users')


        .col-md-4.col-sm-12.col-xs-12.card-add.pb-3
          =link_to('start-project', new_project_path) do
            .card-wrap.col-md-12
              .add-project
                %i.fa.fa-plus-circle
                .text Add a new project


      .row.mt-10
        %h2.heading.pb-3 Projects you're helping out on
      .row.js-masonry{ :data => { :masonry_options => { :itemSelector => '.col-md-4' }}}
        -3.times do
          .col-md-4.col-sm-12.col-xs-12.card.pb-3
            .card-wrap
              .card-top
                %time{datetime: "2009-11-13"}
                13
                %sup th
                November 2014
                =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
                =link_to('<span>Pin</span>'.html_safe,'#', :class => 'usr-link pin-it', :icon => 'thumb-tack')
              .image-wrapper
                =link_to 'project' do
                  =image_placeholder('360x207#')
              .card-info.col-md-12
                %h3.project-title
                  =link_to('Project Name', 'project')
                by Another person
                .card-tags.col-md-10.p-0
                  %ul.tags
                    %li=link_to('Breakdancing', 'category')
                    %li=link_to('Space & Exploration', 'category')
                .card-likes.col-md-2.right.p-0
                  =link_to('3', '#', :class => 'likes', :icon => 'heart')
              .card-footer
                .foot-link.location.col-md-6.col-xs-6
                  =link_to('Birmingham', 'search', :icon => 'map-marker')
                .foot-link.helpers.col-md-6.right
                  =link_to('2 helpers', 'search', :icon => 'users')


      .row.mt-10
        %h2.heading.pb-3 Projects you have liked
      .row.js-masonry{ :data => { :masonry_options => { :itemSelector => '.col-md-4' }}}
        -3.times do
          .col-md-4.col-sm-12.col-xs-12.card.pb-3
            .card-wrap
              .card-top
                %time{datetime: "2009-11-13"}
                13
                %sup th
                November 2014
                =link_to('<span>Trash</span>'.html_safe,'#', :class => 'usr-link', :icon => 'trash-o', "data-target" => "#myModal", "data-toggle" => "modal")
                =link_to('<span>Pin</span>'.html_safe,'#', :class => 'usr-link pin-it', :icon => 'thumb-tack')
              .image-wrapper
                =link_to 'project' do
                  =image_placeholder('360x207#')
              .card-info.col-md-12
                %h3.project-title
                  =link_to('Project Name', 'project')
                by Another person
                .card-tags.col-md-10.p-0
                  %ul.tags
                    %li=link_to('Breakdancing', 'category')
                    %li=link_to('Space & Exploration', 'category')
                .card-likes.col-md-2.right.p-0
                  =link_to('3', '#', :class => 'likes', :icon => 'heart')
              .card-footer
                .foot-link.location.col-md-6.col-xs-6
                  =link_to('Birmingham', 'search', :icon => 'map-marker')
                .foot-link.helpers.col-md-6.right
                  =link_to('2 helpers', 'search', :icon => 'users')



    #rewards.tab-pane.fade.in
      .row
        .col-md-6.pb-3
          .top-cta.alert.fade.in
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"}
              %i.fa.fa-times-circle
            %strong You haven't added your location yet
            %em Enter your location below
            %form.form-inline{role: "form"}
              .form-group
                %label.sr-only{for: "location"} Enter your location below
                %input.form-control{placeholder: "Enter location", type: "text"}
                %button.btn.btn-lg.btn-gry{type: "button"} Okay
        .col-md-6.pb-2
          .top-cta.promo
            %h3 ThinkBig can help fund your project
            =link_to('Learn more about ThinkBig', 'about',  :class => 'btn btn-lg btn-gry')
      .row#badges.mb-10
        %h2.heading Badges
        %ul.pt-3
          %li.col-md-2.col-sm-2
            =image_tag("scholar-badge.png")
            %p Profile 100% complete
          -11.times do
            %li.col-md-2
              =image_tag("badge-slot.png")
              %p Helped out on a project
