.container
  %section#profile
#personal-header.pb-10.pt-10.mb-3
  .container
    .personal-inner.col-md-12.pl-0
      .col-md-9.profile-info.edit
        .row
          .i-input.col-md-8
            %i.fa.fa-book
            %input.form-control.name{'placeholder' => 'Project name'}
        .row
          %h3.col-md-8 Project location
          %p.col-md-8 Enter the city/town where your project is happening.
          .i-input.col-md-6.half
            %i.fa.fa-map-marker
            %input.form-control.location{'placeholder' => 'Location'}

      .usr-action-top.btn-clear
        =link_to('Done editing', 'profile',  :class => 'btn btn-lg btn-gry visible col-xs-11 ml-3', :icon => 'check')
.container#project
  #home.tab-pane.active.fade.in
    .col-md-8.col-md-offset-2.pb-10
      .row
        .project-image
          =image_placeholder('760x307#')
      .row.project-tags
        =link_to('Tags', '#',:icon => 'tags') 
        %ul.tags
          %li=link_to('Breakdancing', '#')
          %li=link_to('Environment and Sustainability', '#')
          %li=link_to('','#', :icon => 'plus-circle')
      .row
        %h3 Project description
        %textarea{cols: "50", rows: "10", :class => 'col-md-12 form-textarea'}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae metus diam. Sed ut risus nec nunc interdum sollicitudin. Suspendisse eu quam lectus. Integer nec posuere leo, ut pretium risus. Cras gravida malesuada egestas. Donec consequat risus eu erat aliquet, eget dictum arcu vestibulum. Nam eget lobortis eros, et mollis nibh. Duis ullamcorper, velit vitae lacinia tristique, quam dui dictum massa, in tincidunt urna lacus in neque. Quisque suscipit odio quis nunc sollicitudin varius. Praesent risus felis, tristique sed lobortis at, suscipit eu nisl. Donec suscipit magna a odio accumsan, non dignissim ipsum dictum. Morbi ut arcu eu nibh blandit venenatis et id mi. Aliquam rhoncus in metus sit amet laoreet. Vestibulum cursus, libero sit amet cursus porta, arcu elit tempor sapien, ac feugiat sapien quam in nibh. Proin imperdiet ut ligula at venenati
      .row
        %h3 Things I need help with
        -10.times do
          %input.form-text{:placeholder => 'This is a list item', :class => 'form-text col-md-9 mb-1'}   

      .row
        %h3 Purpose of the project
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae metus diam. Sed ut risus nec nunc interdum sollicitudin. Suspendisse eu quam lectus.
      .row
        %h3 Project deadline
        %input.form-text{:placeholder => '23rd May 2014', :id => 'datepicker'}  