=semantic_form_for(@content_page) do |form|
  =form.inputs do
    =form.input :title
    =form.input :subtitle
    =form.input :text, as: :redactor
    =form.input :link_text, hint: 'The text used in a navigation link'
    =form.input :url
  =form.actions do
    =form.action :submit, label: 'Save'
