.container
.strip.strip-hero.relative
  .container.hero-discover.hero-holder.relative.pt-10
    .col-md-8.col-md-offset-2.relative
      .usr-action-top
        -if can?(:edit, @content_page)
          =link_to('', '',  :class => 'btn btn-lg btn-gry visible dropdown', :icon => 'cog', 'data-toggle' => 'dropdown')
          %ul.dropdown-menu.settings
            %li=link_if_can('Edit', [:edit, @content_page], :icon => 'pencil')
            %li=link_if_can('Delete', [:destroy, @content_page], method: :delete, confirm: 'Are you sure?', icon: 'trash-o')
    %h1.pt-10.center=@content_page.title
    %p.col-md-6.col-md-offset-3.center.pb-3
      =@content_page.subtitle.html_safe
.container.section.pb-10
  .col-md-8.col-md-offset-2
    .row.p-tb-3
      =raw @content_page.text
      -if @content_page.slug == 'contact'
        %h4 Send us a message
        -@contact_enquiry ||= ContactEnquiry.new(email: current_user.try(:email), name: current_user.try(:full_name))
        =semantic_form_for @contact_enquiry do |form|
          =form.inputs do
            =form.input :name
            =form.input :email
            =form.input :message,as: :text
          =form.actions do
            =form.action :submit, label: 'Send'
