!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
  %body
    %p
      Somebody has offered to help on
      =@project.title
    %p
      You have a message from
      =@contact_enquiry.name
      =mail_to @contact_enquiry.email
    %p
      %h2 Message
      %hr
      =@contact_enquiry.message
      %hr
    %p
      Thanks
      %br
      =Settings.site_name
      Team
