.container
.footer
  .container.p-tb
    .col-md-12
      .row
        .col-sm-6
          .row
            .col-md-6.col-xs-6
              %h4 Sitemap
              %ul.p-0.clear.list-unstyled
                %li=link_to('Home', root_path)
                %li=link_to('Discover', discover_path)
                %li=link_to('Community', forums_path)
                %li=link_to('Search','search')
            .col-md-4.col-xs-6
              %h4 Help & Support
              %ul.p-0.clear.list-unstyled
                %li=link_to_slug('about')
                %li=link_to_slug('faq')
                %li=link_to_slug('contact')
        .col-sm-6
          .row
            .col-sm-6.col-sm-offset-6
              %p.light-text.mb-2.small The Social Action Journey Fund programme is supported and funded by The Cabinet Office
              =image_tag('cabinet-office-logo.png', :class => 'mb-2')
              =image_tag('step-up-logo.png')
              
          
          
          
                

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title You have to be signed in to do that!
      .modal-footer
        =link_to('Sign up', 'signup', :class => 'btn btn-default')
        =link_to('Sign in', 'signup', :class => 'btn btn-primary')
