.container
%nav.navbar.navbar-default{role: "navigation"}
  .container

    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to('NYA', root_path, :class => 'navbar-brand')

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li=link_to('Home', root_path, :class => 'nav-text-link')
        %li=link_to('Discover', discover_path, :class => 'nav-text-link')
        %li=link_to('Community', forums_path, :class => 'nav-text-link')
        %li
          %input.global-search{'placeholder' => 'Search projects'}
          =link_to('', 'search', :class => 'btn', :icon => 'search')
        -if current_user
          %li.sm-float=link_to(image_for(current_user, '40x40#'), current_user, :class => 'nav-avatar')
          %li.dropdown
            =link_to('', '#', 'data-toggle' => 'dropdown', :class => 'dropdown-toggle', :icon => 'chevron-down')
            %ul.dropdown-menu.settings.col-xs-8
              -if current_user.admin?
                %li=link_to('Admin', admin_path)
              %li=link_to('View profile', current_user)
              %li=link_to('Account settings', edit_user_path(current_user))
              %li=link_to('Change password', change_password_path)
              %li.divider
              %li=link_to('Sign out', sign_out_path, :method => :delete)
        -else
          %li=link_to('Sign in', sign_in_path, :class => 'nav-text-link')
          %li=link_to('Sign up', sign_up_path, :class => 'nav-text-link')

.navbar-spacer

-#searchStrip.collapse
  .container
    .row
      .col-sm-12.text-center
        %input.global-search{'placeholder' => 'Type here and press enter to search...'}
