.container
%nav.navbar{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#site-nav-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %i.fa.fa-bars
      =link_to('/', :class => 'navbar-brand') do
        Social Action
        %br
        Journey Fund
    #site-nav-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li=link_to('Home', root_path, :class => 'nav-text-link')
        %li=link_to('Discover', discover_path, :class => 'nav-text-link')
        %li=link_to('Community', forums_path, :class => 'nav-text-link')
        %li=link_to('Search', search_projects_path, :class => 'nav-text-link')
        -if current_user
          %li.dropdown
            =link_to('#', 'data-toggle' => 'dropdown', :class => 'nav-avatar nav-dropdown-toggle') do
              =image_for(current_user)
              .navbar-down-arrow
                %i.fa.fa-caret-down
            %ul.dropdown-menu.settings
              -if current_user.admin?
                %li=link_to('Admin', admin_path)
              %li=link_to('View profile', current_user)
              %li=link_to('Account settings', edit_user_path(current_user))
              %li=link_to('Change password', change_password_path)
              %li=link_to('Sign out', sign_out_path, :method => :delete)
        -else
          %li=link_to('Sign in', sign_in_path, :class => 'nav-text-link')
          %li=link_to('Sign up', sign_up_path, :class => 'nav-text-link')
.navbar-spacer
